@import url('https://fonts.googleapis.com/css2? family= Qwitcher+Grypen & display=swap');

*{
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 18px;
}

.black{
  background: black;
}

main{
  height: 1500px;
  width: 100%;
}

.container{
  position: relative; 
  margin: 0 auto;
  height: px;
  width: 330px;
  top: 100px;
  text-align: center;
  /*border: 7px solid ;
  border: solid 5px #f9b8fb;*/
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 15px 90px 30px #db05ad33;
  
 
}

.container:before, .container:after {
	content: '';
	position: absolute;
	left: -8px;
	top: -8px;
  border-radius: 5px;
	background: linear-gradient(120deg, #fcb4db, #b6f0f8, #8ce0fa,#f797b4,  
	#fa89be,#f8b5ef, #04c2e4,#93ddf0, #00c3ff);
	background-size: 300%;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	z-index: -1;
	animation: BGgradient 15s ease infinite; 
}

@keyframes BGgradient {
	0% {
		background-position: 0% 200%;
	}
	50% {
		background-position: 200% 0%;
	}
	100% {
		background-position: 0% 330%;
	}
}

/**/
.container2:before, .container2:after {
	content: '';
	position: absolute;
	left: -8px;
	top: -8px;
  border-radius: 5px;
	background: linear-gradient(120deg, #fcb4db, #b6f0f8, #8ce0fa,#f797b4,  
	#fa89be,#f8b5ef, #04c2e4,#93ddf0, #00c3ff);
	background-size: 300%;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	z-index: -1;
	animation: BGgradient 15s ease infinite; 
}

@keyframes BGgradient {
	0% {
		background-position: 0% 200%;
	}
	50% {
		background-position: 200% 0%;
	}
	100% {
		background-position: 0% 330%;
	}
}

/**/

.container2{
  position: relative; 
  margin: 0 auto;
  height: px;
  width: 330px;
  top: 100px;
  text-align: center;
  border: 7px solid ;
  border: solid 5px #f9b8fb;
  background: rgb(10, 5, 22);
  border-radius: 5px;
  box-shadow: 0px 15px 70px 30px #db05ad33;
}

.keypad{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
  margin-left: 5px;
  
}

button{
  background: #f9b8fb;
  margin: 3px;
  border: none;
  /*border: solid 1px black;*/
  border-radius: 30px;
  cursor: pointer;
  color: white;
  font-weight: 500;
  height: 70px;
  width: 70px;
}
.keypad button:hover{
  background: #fbe2b8;
}

input[type="text"]{
  height: 80px;
  width: 300px;
  background: white;
  margin-top: 10px;
  border: 10px;
  border: solid 1px black;
  border-radius: 10px;
  color: #020202;
  text-align: right;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}

#clear{
  grid-column: 1/3;
  grid-row: 1;
  color: #020202;
  width: 150px;
}

#result{
  grid-column: 3/5;
  grid-row: 5;
  color: white;
  width: 150px;
}

input:focus,
input:active,
button:focus,
button:active{
    outline: none;
}

 .highlight{
  background: rgb(161, 224, 245);
  box-shadow: 0px 15px 70px 10px #db05ad33;
  font-size: 50px;
 }

 .titulo{
   color: white;
   top: 15%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
   margin: 0 auto;
   width: 320px;
  text-align: center;
  font-size: 40px;
   
 }


 span {
  font-size: 40px;
  display: inline;
}

.dark-mode {
  background-color: #1a1919;
  color: #999;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}

.light-mode {
  background-color: #fff;
  color: #333;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 14px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #19a2c1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#btn0{
  background: url('./img/0ma1\ \(3\).png');
  background-repeat: no-repeat;
  background-position: center;
}

#btn1{
background: url('./img/1ma-removebg-preview\ \(1\).png');
background-repeat: no-repeat;
background-position: center;
}

#btn2{
background: url('./img/2ma\ \(3\).png');
background-repeat: no-repeat;
background-position: center;
}

#btn3{
  background: url('./img/3ma\ \(2\).png');
  background-repeat: no-repeat;
  background-position: center;
}

#btn4{
  background: url('./img/4ma\ \(1\).png');
  background-repeat: no-repeat;
  background-position: center;
}

#btn5{
  background: url('./img/5ma\ \(1\)\ \(1\).png');
  background-repeat: no-repeat;
  background-position: center;
}

#btn6{
  background: url('./img/6ma\ \(1\).png');
  background-repeat: no-repeat;
  background-position: center;
}

#btn7{
  background: url('./img/7ma\ \(1\).png');
  background-repeat: no-repeat;
  background-position: center;
}

#btn8{
  background: url('./img/8ma\ \(1\).png');
  background-repeat: no-repeat;
  background-position: center;
}

#btn9{
  background: url('./img/9ma\ \(1\).png');
  background-repeat: no-repeat;
  background-position: center;
}

#btnP{
  background: url('./img/punto\ \(1\).png');
  background-repeat: no-repeat;
  background-position: center;
}

#borrar{
  background: url('./img/borrar\ \(3\)\ \(1\).png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  background-color: rgb(161, 224, 245);
  
}

#clear{
  background: url('./img/borrar\ \(4\)\ \(1\).png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  background-color: #a1e0f5;
  font-size: 25px;
}

#borrar:hover {
  background-color: #fbe2b8;
}

#clear:hover {
  background-color: #fbe2b8;
}

